<app-menu></app-menu>
<h3>Requests</h3>
<a routerLink="/requests/create">Start a Request</a>
<table>
    <thead>
        <tr><th>Id</th>
        <th>Description</th>
        <th>Justification</th>
        <th>RejectionReason</th>
        <th>DeliveryMode</th>
        <th>Status</th>
        <th>Total</th>
        <th>UserId</th></tr>
    </thead>
    <tbody>
        <tr *ngFor = "let request of requests">
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.justification}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.deliveryMode}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total |currency}}</td>
            <td>{{request.user.username}}</td>
            <td><a routerLink="/requests/{{request.id}}">Details</a></td>
            <td><a routerLink="/requests/{{request.id}}/edit">Edit</a></td>
        </tr>
    </tbody>
</table>