<h3>Add New Product</h3>
<a routerLink ="/products">Back</a>
<table>
    <tr><th>id</th><td><input [(ngModel)] = "product.id" type="number" disabled></td></tr>
    <tr><th>partNbr</th><td><input [(ngModel)] = "product.partNbr" type="text" ></td></tr>
    <tr><th>name</th><td><input [(ngModel)] = "product.name" type="text" ></td></tr>
    <tr><th>price</th><td><input [(ngModel)] = "product.price" type="number" ></td></tr>
    <tr><th>unit</th><td><input [(ngModel)] = "product.unit" type="text" ></td></tr>
    <tr><th>vendorId</th><td ><select [(ngModel)] = "product.vendorId">
        <option *ngFor = "let vendor of vendors" label= {{vendor.name}} value={{vendor.id}}></option>
    </select></td></tr>
</table>
<button (click)="save()">Save</button>
<a routerLink = "/products">Cancel</a>