<a routerLink="/requests">Back to Requests</a>
<h3>Request #{{request.id}}</h3>
<table class="table table-sm">
    <tr><th>Id</th>
        <th>Description</th>
        <th>Justification</th>
        <th>RejectionReason</th>
        <th>Delivery Mode</th>
        <th>Status</th>
        <th>Total</th>
        <th>User Id</th>
        <th>Actions</th>
    </tr>
    <tr><td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.justification}}</td>
        <td>{{request.rejectionReason}}</td>
        <td>{{request.deliveryMode}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total |currency}}</td>
        <td>{{request.userId}}</td>
        <td><button (click)="review()">Review</button></td>
    </tr>
</table>
<h4>Request Lines</h4>
<table class="table table-sm">
    <tr>
        <th>Id  </th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor = "let rl of requestlines">
        <td>{{rl.id}}</td>
        <td>{{rl.product.name}}</td>
        <td>{{rl.quantity}}</td>
        <td>{{rl.product.price |currency}}</td>
        <td><a class="link-primary" routerLink="/requests/requestlines/{{rl.id}}/edit">Edit</a> | <button type="button" class ="btn btn-link" (click) = 'delete(rl.id)'>Delete</button></td>
    </tr>
</table>
<a routerLink="/requests/createline/{{request.id}}">Add new line</a>