<h3>{{request.name}}</h3>
<a routerLink="/requests">Back to Requests</a>
<table>
    <tr><td>id</td><td>{{request.id}}</td></tr>
    <tr><td>description</td><td>{{request.description}}</td></tr>
    <tr><td>justification</td><td>{{request.justification}}</td></tr>
    <tr><td>rejectionReason</td><td>{{request.rejectionReason}}</td></tr>
    <tr><td>deliveryMode</td><td>{{request.deliveryMode}}</td></tr>
    <tr><td>status</td><td>{{request.status}}</td></tr>
    <tr><td>total</td><td>{{request.total}}</td></tr>
    <tr><td>userId</td><td>{{request.userId}}</td></tr>
</table>