<h3>{{product.name}}</h3>
<a routerLink ="/products">Back</a>
<table>
    <tr><th>id</th><td><input [(ngModel)] = "product.id" type="number" disabled></td></tr>
    <tr><th>partNbr</th><td><input [(ngModel)] = "product.partNbr" type="text" disabled></td></tr>
    <tr><th>name</th><td><input [(ngModel)] = "product.name" type="text" disabled></td></tr>
    <tr><th>price</th><td><input [(ngModel)] = "product.price" type="number" disabled></td></tr>
    <tr><th>unit</th><td><input [(ngModel)] = "product.unit" type="text" disabled></td></tr>
    <tr><th>vendor</th><td><input [(ngModel)] = "product.vendor.name" type="text" disabled></td></tr>
</table>